@charset "UTF-8";
/*! =====このcssファイルはsassから生成されています。===== */

//--------
$cat_img_size: 150px;	//カタログモードのイメージサイズ

//リセット
* {
	margin: 0px;
	padding: 0px;
}

//iOS対策

label {
	cursor: pointer;
}

// 押すボタンやinput:1, テキストエリア、書くinptutなど:-1
@mixin txt_box(){
	border-style: solid;
	border-width: 1px;
	padding: 2px;
}

//スムーズスクロール
html {
	scroll-behavior: smooth;
}

//全体的指定
body {
	font-family: sans-serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
	svg {
		width: auto;
		height: 1em;
	}
}

hr {
	border-style: dashed;
	border-width: 1px 0 0 0;
	margin: 1ex auto;
	clear: left;
}
//----------
header, .thread, footer {
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
header {
	margin-top: 12px;
	margin-bottom: 12px;
	border-width: 1px;
	border-style: solid;
}
h1 {
	a {
		text-decoration: none;
	}
	+ div {
		text-align: right;
	}
}
main {
	display: block;
}
.thread {
	display: block;
	border-width: 1px;
	border-style: solid;
	margin-top: 12px;
	margin-bottom: 12px;
	img.image {
		max-width: min(100%, 400px);
		height: auto;
		float: left;
		padding-right: 8px;
		margin-bottom: 1ex;
	}
}
.delf {
	text-align: right;
}
footer {
	@extend .thread;
	text-align: right;
}
select {
	@include txt_box;
	vertical-align: middle;
}
input[type="text"] {
	@include txt_box;
}
input[name="picw"], input[name="pich"], input[name="delno"] {
	@include txt_box;
	width: 3em;
}
input[name="pwd"] {
	@include txt_box;
	width: 6em;
}
input[name="search"] {
	@include txt_box;
}
input[type="submit"] {
	@include txt_box;
	padding-left: 4px;
	padding-right: 4px;
}
input[name="upfile"] {
	@include txt_box;
	width: 10em;
}
input[type="color"] {
	@include txt_box;
	height: 1em;
}
textarea[name="com"] {
	padding: 0.1em;
}
//スポンボタン（上下の矢印ボタン）を非表示にする
input[type="number"] {
	appearance: textfield;
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
em.thispage {
	font-style: normal;
	font-weight: bold;
}

ul {
	font-size: smaller;
	margin-left: 1.5em;
}
p.oya {
	margin-top: 0;
}
.sodane a {
	font-weight: normal;
	text-decoration: none;
}

.oyaname {
	line-height: 1em;
    border: solid 1px;
    border-radius: 5px;
	display: inline-block;
    a {
		text-decoration: none;
        display: block;
		padding: 5px;
		color: inherit;
    }
}

h4.oya {
	margin-top: 1ex;
}

.res {
	margin-top: 1em;
	border-top: dashed 1px;
	section {
		margin-top: 1em;
		padding-top: 1em;
		display: table-cell;
		max-width: 100%;
	}
	h3 {
		font-size: 100%;
		margin-bottom: 0ex;
	}
	h4 {
		font-size: 100%;
		margin-bottom: 1ex;
	}
	.comment {
		display: table;
	}
}
.limit {
	margin-top: 1em;
}

h5 {
	font-weight: normal;
}

.resma {
	display: block;
}
.thfoot {
	clear: left;
	text-align: right;
	margin-top: 1em;
}
button {
	@include txt_box;
	padding-left: 4px;
	padding-right: 4px;
}
.button {
	@include txt_box;
	padding: 2px 6px;
	display: inline-block;
	a {
		text-decoration: none;
		svg {
			width: 12px;
			height: 12px;
		}
	}
}

.oyat {
	border-left: solid 1ex;
	padding: 0.2em;
}
.oekaki {
	font-size: smaller;
}

#appstage {
	display: block;
	text-align: center;
	> * {
		display: inline-block;
		vertical-align: middle;
	}
}

.palette {
	width: 180px;
	fieldset {
		text-align: center;
	}
}
.c {
	text-align: center;
}

.siihelp{
	h2 {
		@extend .oyat
	}
	dt {
		font-weight: bold;
	}
}

#cp {
	scroll-behavior: smooth;
}

#catalog {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	div {
		width: $cat_img_size + 16px;
		text-align: center;
		overflow: hidden;
	}
	p {
		margin: 0.5ex auto;
	}
	img {
		width: $cat_img_size;
		height: $cat_img_size;
		object-fit: cover;
	}
}

.delfo {
	font-size: smaller;
	th, td {
		border: 1px solid;
	}
}
.ppost {
	clear: left;
}

.tmpimg {
	div.imgs {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
	}
}

.nsfw {
	//display: block;
	overflow: hidden;
	//float: left;
	//position: relative;
	img {
		//position: relative;
		filter: blur(6px);
		transition: .1s;
		top: -6px;
		bottom: -6px;
		left: -6px;
		right: -6px;
	}
}
//アイコン
.simple-icons--misskey {
  display: inline-block;
  width: 12px;
  height: 12px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M8.91 16.892c-1.039.003-1.931-.63-2.352-1.366c-.225-.322-.67-.437-.676 0v2.014q0 1.215-.876 2.1q-.85.86-2.078.86q-1.2 0-2.077-.86A2.93 2.93 0 0 1 0 17.54V6.46q0-.936.526-1.695a2.86 2.86 0 0 1 1.402-1.088a2.9 2.9 0 0 1 1-.177q1.353 0 2.253 1.063l2.997 3.515c.067.05.263.437.732.437c.47 0 .692-.386.758-.437l2.972-3.515Q13.567 3.5 14.918 3.5q.501 0 1.001.177a2.73 2.73 0 0 1 1.377 1.088q.55.758.55 1.695v11.08q0 1.215-.875 2.1q-.852.86-2.078.86q-1.201 0-2.078-.86a2.93 2.93 0 0 1-.85-2.1v-2.014c-.05-.55-.531-.204-.702 0c-.45.843-1.313 1.361-2.352 1.366M21.448 8.61q-1.05 0-1.802-.733q-.726-.759-.726-1.822c0-1.063.242-1.307.726-1.796a2.44 2.44 0 0 1 1.802-.758q1.05 0 1.803.758q.75.735.75 1.796q0 1.063-.75 1.822q-.751.732-1.803.733m.025.507q1.05 0 1.777.758q.75.759.751 1.822v6.248q0 1.064-.75 1.821a2.4 2.4 0 0 1-1.778.734q-1.05 0-1.802-.733a2.5 2.5 0 0 1-.75-1.822v-6.248a2.5 2.5 0 0 1 .75-1.822a2.44 2.44 0 0 1 1.802-.758'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.uil--facebook {
  display: inline-block;
  width: 16px;
  height: 16px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M20.9 2H3.1A1.1 1.1 0 0 0 2 3.1v17.8A1.1 1.1 0 0 0 3.1 22h9.58v-7.75h-2.6v-3h2.6V9a3.64 3.64 0 0 1 3.88-4a20 20 0 0 1 2.33.12v2.7H17.3c-1.26 0-1.5.6-1.5 1.47v1.93h3l-.39 3H15.8V22h5.1a1.1 1.1 0 0 0 1.1-1.1V3.1A1.1 1.1 0 0 0 20.9 2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ic--baseline-reply {
  display: inline-block;
  width: 16px;
  height: 16px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M10 9V5l-7 7l7 7v-4.1c5 0 8.5 1.6 11 5.1c-1-5-4-10-11-11'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.eva--share-outline {
  display: inline-block;
  width: 16px;
  height: 16px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M18 15a3 3 0 0 0-2.1.86L8 12.34v-.67l7.9-3.53A3 3 0 1 0 15 6v.34L7.1 9.86a3 3 0 1 0 0 4.28l7.9 3.53V18a3 3 0 1 0 3-3m0-10a1 1 0 1 1-1 1a1 1 0 0 1 1-1M5 13a1 1 0 1 1 1-1a1 1 0 0 1-1 1m13 6a1 1 0 1 1 1-1a1 1 0 0 1-1 1'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ri--twitter-x-line {
  display: inline-block;
  width: 16px;
  height: 16px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M10.488 14.651L15.25 21h7l-7.858-10.478L20.93 3h-2.65l-5.117 5.886L8.75 3h-7l7.51 10.015L2.32 21h2.65zM16.25 19L5.75 5h2l10.5 14z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.mingcute--user-star-fill {
  display: inline-block;
  width: 16px;
  height: 16px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='currentColor' d='M11 2a5 5 0 1 0 0 10a5 5 0 0 0 0-10m0 11c-2.395 0-4.575.694-6.178 1.672c-.8.488-1.484 1.064-1.978 1.69C2.358 16.976 2 17.713 2 18.5c0 .845.411 1.511 1.003 1.986c.56.45 1.299.748 2.084.956C6.665 21.859 8.771 22 11 22q.346 0 .685-.005a1 1 0 0 0 .89-1.428A6 6 0 0 1 12 18c0-1.252.383-2.412 1.037-3.373a1 1 0 0 0-.72-1.557Q11.671 13 11 13m7.864.997a1 1 0 0 0-1.728 0l-.91 1.562l-1.766.382a1 1 0 0 0-.534 1.644l1.204 1.348l-.182 1.798a1 1 0 0 0 1.398 1.016l1.654-.73l1.654.73a1 1 0 0 0 1.398-1.016l-.182-1.799l1.204-1.347a1 1 0 0 0-.534-1.644l-1.766-.382z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

//以下レスポンシブ対応
@media screen and (max-width: 1024px) {
	.res {
		clear: left;
	}
}
@media screen and (max-width: 768px) {
	header, .thread, footer {
		width: 90%;
	}
	main {
		display: block;
	}
	#paintmode {
		main {
			display: block;
		}
		footer {
			text-align: right;
		}
	}
}
@media screen and (max-width: 450px) {
	footer {
		text-align: right;
	}
	figure {
		float: none;
	}
	#appstage {
		display: block;
	}
}
